body {
    background-color: #FDF4DC;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.homeHeader {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
}

.miniBio {
    text-align: left;
}

.navMain { 
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  
.navMain {
  display: flex;
  text-align: center;
}



.flexNavMain {  
  display: flex; 
  width: 600px;
  justify-content: center;
  align-items: center;   
}

.flexNavMainItem {
  padding: 12px;
  display: inline-block;
  width: 110px;
  text-align: center;
}

.flexNavMainItem a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.flexNavMainItem a:hover{
  color: gray;
}

.flexHeaderNav {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.flexHeaderNavItem {
  padding-top: 10px;
  padding-inline: 20px;
  display: inline-block;
  text-align: center;
}

.flexHeaderNavHome {
  padding-top: 10px;
  padding-right: 50px;
  display: inline-block;
  text-align: center;
}

.flexHeaderNav a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.flexHeaderNav a:hover {
  color: gray;
}

.flexHeaderNavHome a{
  font-weight: bold;
}




  .navMain a{
    width: 33%;
    text-align: center;
  }

  .navMain li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
  }  

.navSocial {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navSocial li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
  
.headerNav a {
  text-decoration: none;
  color: black;
}

.headerNav a:hover {
  color: gray;
}

.navMain a {
  text-decoration: none;
  color: black;
}

.navMain a:hover {
    color: gray;
}

.navMainHeaderPages a:hover {
  color: gray;
}

.fa-linkedin {
  color: black;
  text-decoration: none;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-twitter {
  color: black;
  text-decoration: none;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-github {
  color: black;
  text-decoration: none;
}

.fa-github:hover {
  color: #171515;
}

.hyperlink {
  color: black;
  text-decoration-style: dotted; 
}

.hyperlink:hover {
  color: gray
}

.navMainHeaderPages {
  float: right;
  list-style-type: none;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.navMainHeaderPages li {
  display: inline-block;
  font-size: medium;
  padding: 20px;
  text-decoration: none;
}

.navMainHeaderHome {
  float: left;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.navMainHeaderHome li {
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

.headerNav {
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: 1.3px solid;
  height: 50px;
}

.bio {
  text-align: center;
}

.subPageHeader {
  text-align: center;
  vertical-align: middle;
}

.homePage a:hover {
  color: gray;
}

.textChunk {
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-style: ridge;
  border-radius: 5px;
  background-color: #FBFAF5;
}

#mainProfilePic {
  max-width: 90px;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 20px;
}

body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.essayDate {
  padding-right: 7px;
}

